
*.h5
*.h5
pongCritic.h5
1-Projet/Achats/ep/Gas-Transformer/weights/wghts9.ckpt.index
/1-Projet/Achats/ep/Gas-Transformer/weights
/1-Projet/Achats/ep/Gas-Transformer/checkpoints
/1-Projet/Achats/ep/Gas - Fixing/informer/test-gas/checkpoints
/1-Projet/Achats/ep/Gas - Fixing/informer/test-init/checkpoints
/1-Projet/Achats/ep/Gas - Fixing/informer/test-gas/checkpoints
/4-DeepLearning/data/train
*.pth
/4-DeepLearning/model/screenshot
/4-DeepLearning/data/encoded
/4-DeepLearning/model/save
/4-DeepLearning/data/parquet
4-DeepLearning/token_parquet.ipynb
/4-DeepLearning/data/textes
/4-DeepLearning/data/epub
4-DeepLearning/data/corpus_litteraire_clean.txt
4-DeepLearning/data/corpus_litteraire_clean_2.txt
*.pyc
*.pyc
